.sliderbar				{
	width:					400px;
	border: 1px solid #bdbdbd;
	height:					12px;
	border-radius:			4px;
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), #EEE;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), #EEE;
}

.noUi_handle    			{
	height:					12px;
	width:					8px;
}

.noUi_midBar			{
	height:					12px;
}

.noUi_midBar			{
  top: -1px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.39)), color-stop(0.612, rgba(254, 254, 254, 0.1)), color-stop(0.689, rgba(254, 254, 254, 0.18)), to(rgba(255, 255, 255, 0.23))) #4d72b1;
  border: 1px solid rgb(58, 112, 157);
}

.noUi_sliderKnob		{
	z-index: 				5;
	width:					20px;
	height:					30px;
	position:				absolute;
	top:					-5px;
	left:					-5px;
	border: 1px solid #707070;
	border-radius:  5px 5px 50% 50%;
  cursor: -webkit-grab;
	cursor: -moz-grab;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(#dedede));
  background-image: -moz-linear-gradient(90deg, #fafafa 0%, #dedede 100%);
}

.noUi_sliderKnob:active,
.noUi_activeHandle, .noUi_sliderKnob:active .noUi_readout, .noUi_activeHandle .noUi_readout {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.33);
  -moz-transform: scale(1.05) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1.05) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1.05) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1.05) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1.05) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  border-color: #888888;
}

.noUi_readout {
  background-color: #f9f9f9;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #434343;
  position: relative;
  left: -10px;
  top: 36px;
  width: 40px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border: 1px solid #cccccc;
  line-height: 20px;
}

