<section>
  <div class="view_by">
    By Number of Rooms
  </div>
  <div class="view_by">
    By Price
  </div>
</section>
<section>
  <h3>Map of Geneseo</h3>
  <div id="big_map"></div>
</section>
<section>
  <h3>Featured:</h3>
  	<% @featured.each_with_index do |property, index| %>
  		<% if index % 3 == 0 %>
  			<div class='row'>
  		<% end %>

  		<div class='post'>
        <%= property.address %>

        <% if property.has_photo? %>
          <%= image_tag property.featured_photo.photo.url(:thumb) %>
        <% end %>

        <%= link_to 'read more', property %>
      </div>

  		<% if index % 3 == 2 %>
  			</div>
  		<% end %>

  	<% end %>

    <%= link_to 'view all rentals', :action => 'list' %>
</section>