%section
  .view_by
    By Number of Rooms
  .view_by
    By Price
%section
  %h3 Map of Geneseo
  #big_map
  %section
    %h3 Featured:
    - @featured.each_with_index do |property, index|
      - if index % 3 == 0
        .row
      .post
        = property.address
        - if property.has_photo?
          = image_tag property.featured_photo.photo.url(:thumb)
        = link_to 'read more', property
      - if index % 3 == 2
        = link_to 'view all rentals', :action => 'list'