#content.landing
  #content_wrapper
    %h1.tagline Find tenants with zero hassel.
    %h2.tagline By listing your properties with us, you gain:
    #right
      %button#start Get Started
    %dl.reasons
      %dt.exp Exposure
      %dd Reach more students, ensuring all your rentals get filled.
      %dt.ctr Control
      %dd You manage your own properties online with our easy to use system.
      %dt.sec Security
      %dd With options to hide your personal info, we allow potential tenants to contact you, without sacrificing your identity online.
    #other
      %h2 We know students.
      %p.landing
        Our other Geneseo web service,
        = succeed "," do
          %a{:href => "http://www.knightscheduler.com", :target => "_blank"} Knight Scheduler
        was a great success, attracting nearly a quarter of the student body in just a few months.