/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: blue;
}
/* @end */

html {
  background-image: url(noise.png);
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

header {
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(226, 233, 235, 0.49) 37.9%, #c5d2d7 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.379, rgba(226, 233, 235, 0.49)), to(#c5d2d7));
}

h1 {
  padding: 12px 12px 0;
  color: #4d72b1;
  text-shadow: 0 2px 0 rgb(255, 255, 255);
  font: 3em "Bree Serif", serif;
}

h2 {
  font: 1.4em "Bree Serif", serif;
  padding: 0 12px 12px;
  color: #6a6a6a;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  margin-top: -8px;
}

strong {
  font-weight: bold;
}

h3 {
  font: bold 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #ec643f;
  text-shadow: 0 2px 0 #ffffff;
}

#login {
 float: right;
  font-size: .9em;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 4px;
  border-radius: 0 0 0 4px;
}

#login a {
  color: #ec643f;
  text-shadow: 0 1px 0 #ffffff;
}

#login a:hover {
  text-decoration: underline;
}

input {
  padding: 4px;
}

#overlays {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.notice {
  position: relative;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  background: -moz-linear-gradient(90deg, #f4f4f4 0%, #eeeeee 100%) #cacaca;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f4f4), to(#eeeeee)) #cacaca;
  border: 1px solid #939393;
  -moz-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ffffff;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ffffff;
  border-bottom-color: #727272;
  -webkit-animation: pulse .5s ease-in-out 0s alternate;
  -webkit-animation-delay: .5s;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
    60% { -webkit-transform: scale(1.05); }
    80% { -webkit-transform: scale(0.95); }
    100% { -webkit-transform: scale(1); }
}

@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); } 
    60% { -moz-transform: scale(1.05); }
    80% { -moz-transform: scale(0.95); }
    100% { -moz-transform: scale(1); }
}
@-ms-keyframes pulse {
    0% { -ms-transform: scale(1); } 
    60% { -ms-transform: scale(1.05); }
    80% { -ms-transform: scale(0.95); }
    100% { -ms-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); } 
    60% { -o-transform: scale(1.05); }
    80% { -o-transform: scale(0.95); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
    60% { transform: scale(1.05); }
    80% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.notice .close {
  float: right;
  background-color: #787878;
  padding: 8px;
  content: "-";
  color: #f2f2f2;
  display: block;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
  box-shadow: inset 0 1px 2px black;
  border-radius: 10px;
  width: 0;
  height: 0;
  border: none;
  text-shadow: 0 1px 1px #000000;
  text-indent: -10px;
  line-height: 1px;
  cursor: pointer;
  font-size: 1.4em;
}

.registration_wrapper {
  width: 300px;
  margin: 140px auto;
  padding: 20px 30px;
  background-color: rgb(168, 218, 160);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  border: 1px solid #6c8c66;
  height: 220px;
}

.registration_wrapper h2 {
  text-align: center;
  color: #696969;
  font-size: 2em;
  padding: 0;
}

label {
  margin: 12px 0;
  display: block;
  color: #424242;
}

input {
  width: 285px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 6px;
  border: 1px solid rgba(164, 164, 164, 0.67);
  font-size: 1.2em;
}

[type = "checkbox"], label {
  display: inline-block;
  width: auto;
  padding-top: 8px;
}

.registration_wrapper input[type = "submit"] {
  float: right;
}

input[type = "submit"] {
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(254, 254, 254, 0.08) 41.4%, rgba(254, 254, 254, 0.14) 42.9%, rgba(254, 254, 254, 0.19) 100%, rgba(255, 255, 255, 0) 100%) rgb(230, 230, 230);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.414, rgba(254, 254, 254, 0.08)), color-stop(0.429, rgba(254, 254, 254, 0.14)), to(rgba(254, 254, 254, 0.19)), to(rgba(255, 255, 255, 0))) rgb(230, 230, 230);
  border: 1px solid #979797;
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px rgba(0, 0, 0, 0.4);
  border-bottom-color: #646464;
  position: relative;
  margin: 10px 0;
  display: block;
}

input[type = "submit"]:hover {
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(254, 254, 254, 0.08) 41.4%, rgba(254, 254, 254, 0.14) 42.9%, rgba(254, 254, 254, 0.19) 100%, rgba(255, 255, 255, 0) 100%) rgb(240, 240, 240);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.414, rgba(254, 254, 254, 0.08)), color-stop(0.429, rgba(254, 254, 254, 0.14)), to(rgba(254, 254, 254, 0.19)), to(rgba(255, 255, 255, 0))) rgb(240, 240, 240);
}

input[type = "submit"]:active {
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
  box-shadow: inset 0 1px 2px black;
}

input[type = "text"]:focus, input[type = "text"]:active {
  border: 1px solid #747474;
  -moz-box-shadow: 0 0 16px #91dcff;
  -webkit-box-shadow: 0 0 16px #91dcff;
  box-shadow: 0 0 16px #91dcff;
}

.btn.warning:hover {
  color: #ce0000;
}

a.btn {
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(254, 254, 254, 0.08) 41.4%, rgba(254, 254, 254, 0.14) 42.9%, rgba(254, 254, 254, 0.19) 100%, rgba(255, 255, 255, 0) 100%) rgb(230, 230, 230);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.414, rgba(254, 254, 254, 0.08)), color-stop(0.429, rgba(254, 254, 254, 0.14)), to(rgba(254, 254, 254, 0.19)), to(rgba(255, 255, 255, 0))) rgb(230, 230, 230);
  border: 1px solid #979797;
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px rgba(0, 0, 0, 0.4);
  border-bottom-color: #646464;
  position: relative;
  margin: 10px 0;
  padding: 4px 8px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a.btn:hover {
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(254, 254, 254, 0.08) 41.4%, rgba(254, 254, 254, 0.14) 42.9%, rgba(254, 254, 254, 0.19) 100%, rgba(255, 255, 255, 0) 100%) rgb(240, 240, 240);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.414, rgba(254, 254, 254, 0.08)), color-stop(0.429, rgba(254, 254, 254, 0.14)), to(rgba(254, 254, 254, 0.19)), to(rgba(255, 255, 255, 0))) rgb(240, 240, 240);
}

a.btn:active {
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
  box-shadow: inset 0 1px 2px black;
}

.registration_tab {
  position: relative;
  bottom: -10px;
  padding: 30px 20px 20px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -100;
  text-align: center;
  border-radius: 0 0 8px 8px;
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.53);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.53);
  color: #ffffff;
}

.registration_wrapper a {
  clear: both;
  color: inherit;
  margin: 20px auto 0;
  display: inline-block;
}

#content {
  width: 920px;
  margin: auto;
}

  #content_wrapper {
  margin: 20px auto;
  height: 600px;
  width: 900px;
}

#header_wrapper {
  width: 920px;
  margin: auto;
}

section {
  padding: 10px;
  margin: auto;
  border-bottom: 1px solid rgba(166, 177, 182, 0.49);
}

section:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

#big_map {
  border: 1px solid #8f9ca2;
  margin: 10px auto;
  height: 400px;
  width: 920px;
  background-color: #f7f8f8;
}

.row {
  margin: 10px 0;
}

.post {
  display: inline-block;
  margin: 10px;
  border: 1px solid #8f9ca2;
  height: 140px;
  width: 280px;
  background: #f7f8f8;
  border-radius: 3px;
}

.post:first-of-type {
  margin-left: 0;
}

.post:last-of-type {
}

.post:hover {
  background-color: #ffffff;
}

.view_by {
  display: inline-block;
  margin: 20px 10px 0;
  border: 2px solid #e9eaec;
  width: 314px;
  padding: 40px 0;
  border-radius: 6px;
  background: -moz-linear-gradient(90deg, #fbfcfc 0%, white 100%) #fbfcfc;
  background: -webkit-gradient(linear, left bottom, left top, from(#fbfcfc), to(white)) #fbfcfc;
  text-align: center;
  color: #b6b6b6;
  font: 1.35em "Lucida Grande", Lucida, Verdana, sans-serif;
  cursor: pointer;
}

.view_by.bedrooms {
  width: 100px;
  height: 20px;
  padding: 10px 0;
  font-size: 1em;
  margin-right: 5px;
  line-height: 20px
}

.view_by:first-of-type {
  margin-left: 0;
}

.view_by:last-of-type {
  margin-right: 0;
}

.view_by:hover {
  color: #7e7e7e;
  background-color: #ffffff;
  border-color: #d1d1d1;
}

/* @group Listings */

nav#size_categories ul {
  text-align: center;
}

nav#size_categories li {
  display: inline-block;
  padding: 8px 9px;
  cursor: pointer;
  color: #5a5a5a;
  font: .9em "Lucida Grande", Lucida, Verdana, sans-serif;
}

nav#size_categories li:hover {
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  padding: 8px 8px;
  background-color: white;
}

nav#size_categories {
  border-radius: 6px;
  border: 1px solid #dfdfdf;
  background: -moz-linear-gradient(90deg, #f6f6f6 0%, white 100%) #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), to(white)) #f6f6f6;
  margin-bottom: 18px;
}

nav#size_categories li.active a {
  color: red;
}

/* @end */

/* @group House info */

.listing {
}

.listings img.house {
  margin: 10px;
  float: left;
}

h4 {
  color: #4d72b1;
  font: bold .9em "Lucida Grande", Lucida, Verdana, sans-serif;
  margin: 8px 10px 6px 0;
}

.listings dl {
  font-size: .8em;
}

dl.show {
  width: 500px;
  margin-bottom: 40px;
}

dl.show section {
  border: none;
  margin-bottom: 40px;
}

dl.show dd, dl.show dt {
  padding: 10px;
  background-color: rgb(241, 242, 244);
}

dl.show dt {
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #909090;
  border-bottom: none;
}

dl.show dt:first-of-type {
  border-top-left-radius: 8px;
}

dl.show dt:last-of-type {
  border-bottom-left-radius: 8px;
  border: 1px solid #909090;
}

dl.show dd {
  border: 1px solid #979797;
  border-bottom: none;
}

dl.show dd:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

dl.show dd:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid #979797;
}

dd {
  display: block;
  text-align: right;
}

dt {
  display: block;
  text-align: left;
  float: left;
  font-weight: bold;
  font-family: sans-serif;
}

dd:after {
  content: '\A';
  white-space: pre;
}

.description {
  width: 500px;
  margin-bottom: 50px;
}

/* @end */

/* @group Listing */

.listing {
  clear: both;
}

.listing img.house {
  float: left;
}

dt, dd {
  padding: 4px;
}


/* @end */

.noUi_sliderKnob {
  cursor: pointer;
}

.noUi_readout {
  position: relative;
  top: 20px;
  width: 55px;
  height: 30px;
  background: yellow;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px black;
  text-align: center;
  line-height: 30px;
}

#slides {
  width: 300px;
  margin: 10px 0;
  height: 400px;
  float: right;
}

#slides img {
}

.slides_container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
  border: 8px solid #ffffff;
}

.sliders_container div {
  width: 300px;
  height: 300px;
  display: block;
}

.pagination {
  margin:0 auto 35px;
  width:60px;
}

.pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  background-image:url(img/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}

#slides .next,#slides .prev {
  position:absolute;
  width:24px;
  height:43px;
  display:block;
  z-index:101;
}

#slides .next {
}

.sliderbar {
  margin-bottom: 50px;
}

table {
  margin: 24px 0;
}

tr {
  border-top: 1px solid #cfd5d7;
}

tr:last-of-type {
  border-bottom: 1px solid #cfd5d7;
}

.dashboard td img {
  margin-right: 15px;
  padding: 1px;
  background: white;
  box-shadow: 0px 0px 3px #black;
  border: 1px solid #ccc;
}

.dashboard td {
  padding: 15px 5px;
  vertical-align: top;
}

.dashboard td ul {
  list-style-type: circle;
  margin-left: 18px;
}

.dashboard td.actions {
  padding-top: 18px;
  padding-left: 20px;
}